
/*
 * HTML Reset Here:
 */
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code, del,dfn,em,font,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1;color:#333;background:white;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

body {
	background-color: #fff;
  height: 100%;
  font-family:"Futura", "Trebuchet MS", "Lucida Grande", "Microsoft Sans Serif", Arial, Helvetica, sans-serif;
  line-height:1.5 !important;
  line-height: 15px;
  font-size: 12px;
  z-index: 1;
  }
body{font-size:12px;}
html > body{font-size:12px; }
html, body { text-align: center; }
h1,h2,h3,h4,h5,h6{
  color: #182654;
  font-weight: normal;
  padding-bottom: 8px;}

h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:18px;line-height:2;}
h4{font-size:14px;line-height:1.25;font-weight:bold;}
h5{font-size:12px;font-weight:bold;}
h6{font-size:12px;}
p{margin:0 0 15px 0;text-align:justify; line-height: 15px;}
p.last{margin-bottom:0;}
p img{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.top{margin-top:0;}
ul,ol{margin:0 0 1.5em 1.5em;}
ol{list-style-type:decimal;}
dl{margin:1.5em 0;}
dl dt{font-weight:bold;}
a{color:#125AA7;text-decoration:underline;outline:none;}
a:hover{color:#000;}
blockquote{margin:1.5em 0 1.5em 1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em{font-style:italic;}
pre{margin-bottom:1.3em;background:#eee;border:0.1em solid #ddd;padding:1.5em;}
code{font:0.9em Monaco,monospace;}
hr{background:#B2CCFF;color:#B2CCFF;clear:both;float:none;width:100%;height:0.1em;margin:0;border:none;}
* html hr{margin:0 0 1.2em 0;}
table{margin-bottom:1.4em;border-top:0.1em solid #ddd;border-left:0.1em solid #ddd;}
th,td{height:1em;padding:0.2em 0.4em;border-bottom:0.1em solid #ddd;border-right:0.1em solid #ddd;}
th{font-weight:bold;}
label{font-weight:bold;}
textarea{height:180px;width:300px;}
p.small{font-size:0.8em;margin-bottom:1.875em;line-height:1.875em;}
p.large{font-size:1.2em;line-height:2.5em;}
p.quiet{color:#666;}
.hide{display:none;}
.dquo{margin-left:-.7em;}
p.incr,.incr p{font-size:0.83333em;line-height:1.44em;margin-bottom:1.8em;}

/*
 * Additional reset
 */

a { text-decoration:none; }
p, li, label, dl, dt, td, th, a, div.content { font-size:small; }
hr { height: 1px;
  border-top: 1px dotted #96802b;
 }


/*
 * Color Settings for backgrounds
 */

#menubar {
	background-color: #EB1E1E;
	border-bottom: 21px solid #B51919;
}
#bluebar {
	background-color: #101A44;
}
#greybar {
	background-color: #EDF0E8;
	padding: 20px 0;
}
body {
	background-color: #9CABCF;
}
#lightbluebar {
	background-color: #9CABCF;
	padding: 10px 0;
}
.whitebar {
	background-color: #fff;
}
/*
 * End Color Settings
 */

h2 a:link, h2 a:visited {
	font-size: 24px;
}
#search {
	float: left;
	margin-top: 10px;
}

#search #edit-search-theme-form-1-wrapper label {
	display: none;
}
#search #edit-submit, #search #edit-submit-2, #search #edit-search-theme-form-1 {
	background-color: #fff;
	border: 1px solid #DDD;
	color: #FF4545;
}
#slogan {
  text-align: right;
  display: block;
  width: 775px;
  height: 40px;
}

#slogan h3, #callout h2 {
  color:  #FF4545; /* good color is #4F638F or #96802b or #FF4545 */
  padding: 0px 0 8px 0 !important;
  padding: 0px 0 6px 0;
  margin-top: 0;
  font-weight: normal;
  padding-right: 15px;
  font-size: 18px;
}

#menubar {
	display: block;
	width: 100%;
	height: 21px;
}

#breadcrumb {
	float: left;
	width: 50%;
	padding-top: 3px;
}
#breadcrumb a:link, #breadcrumb a:visited {
	color: #aaa;
	font-style: italic;
	font-weight: normal;
	line-height: 20px;
}

#secondary {
	float: right;
	width: auto;
}
#sedondary ul {
}
#secondary li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
#secondary a:link, #secondary a:visited {
	padding: 5px 9px;
	margin: 0 1px;
	font-size: .9em;
	background-color: #101A44;
	color: #fff;
}
#secondary a:hover {
	color: #efefef;
	background-color: #2D3C4D;
}

#navigation {
  width: 775px;
  margin: 0 auto;
}

#logo {
  min-height: 100px !important;
  min-height: 105px;
  padding-top: 20px !important;
  padding-top: 3px;
  width: 775px;
}
#logo h1 a {
  color: #efefef;
  font-size: 32px;
  line-height: 90px;
  float: left;
  padding: 0 0 0 15px;
}
#logo img {
  line-height: 0px; 
  margin-left: -5px;
  border: none;
  float: left;
}
#logo a { text-decoration: none;}


#bluebar {
	width: 100%;
	margin: 0 auto;
}

#bluebar h3.mission, #mission-region {
	color: #fff;
	float: right;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	width: 500px;
	padding-bottom: 20px;
}

#mission-region h2 {
	color: #fff;
}

.front #mission-region {
	display: none;
}

#content-left, #content, #content-right { float: left; }

#content {
	width: 100%;
}

#content-left, #content-right {
	width: 170px;
	border: 1px solid #ccc;
}

#content-left h2, #content-right h2 {
	background-color:#FFFFFF;
	color:#9CABCF;
	font-size:18px;
	margin:0px 0pt 0pt -10px;
	padding:5px 0pt 5px 30px;
	width:160px;
}

#content-left {
	padding: 0 10px;
	margin-right: 15px;
}

.page-admin #content-left {
	width: 100px;
}

#content-right {
	padding: 0 10px;
	margin-left: 15px;
	float: right;
}

#three-content-columns #content {
	width: 340px;
}

#two-content-columns #content {
	width: 540px;
}



#navigation ul {
	float: right;
  border-left: 1px solid #CF3636;
}

#navigation li {
  display: block;
  float: left;
  border-right: 1px solid #CF3636;
  padding: 0;
  margin: 0;
}

#navigation a:link, #navigation a:visited {
  display: block;
  padding: 9px 15px 10px !important;
  padding: 12px 15px 13px;
  color: #fff;
  font-size:15px;
  font-weight: lighter;
}

#navigation a:hover, #navigation a.active:hover {
  color: #EFEFEF;
  border-bottom: 6px solid #EB1E1E;
  margin-bottom: -6px;
}

#navigation a:active {
  color: #182654;
}

#navigation a.active {
  border-bottom: 6px solid #EFEFEF;
  margin-bottom: -6px;
}

#callout-right-empty {
  background: transparent url(stackphoto.jpg) right 3px no-repeat;
  height: 186px;
  padding-bottom: 20px;
  width: 220px;
  float: right;
}

#callout {
  width: 775px;
  padding-top: 12px;
  height: auto;
  overflow: hidden;
}

#not-front #callout {
	background-image: none;
}

#callout p {
  line-height: 28px; 
  width: 460px;   
}

#callout-left {
  width: 460px;
  float: left;
  display: block;
  padding: 20px 0;
}

#callout-right {
	width: 220px;
	display: block;	
	float: right;
}


#content p {
	line-height: 2em;
	margin: 8px 0;
}

.content {
  padding: 12px 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}

.messages {
  border:1px dashed silver;
  clear:right;
  color: #AAA;
  display:block;
  float:left;
  text-align: left;
  margin-left:0px;
  margin-top:5px;
  padding:5px 10px;
  width:480px;
  font-weight: bold;
}

#callout-right .content {
	padding-top: 0;
	margin-top: 0;
}

#footerinner {
	padding: 20px 0;
	color: #fff;
}
#footerinner p {
	text-align: center;
}
.related-link {
	display: block;
	line-height: 2em;
}

.teaser-button-wrapper {
  display: none;
}

tr.even {
  background-color:#F6F6F6;
}
thead th {
  background-color: #FFFFFF;
}

pre { display: block; float: left; background-color: #fff; z-index: 9;}

.centered { width: 775px; margin: 0 auto; text-align: left; overflow: hidden;}

dt { margin-top: 12px; }

#user-login-form .item-list ul li {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#user-login-form .item-list ul {
	padding: 10px 0;
	margin: 0;
}